<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/notofit</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="database/entities/User.hbm.xml" />
        <mapping resource="database/entities/Diet.hbm.xml" />
        <mapping resource="database/entities/WorkoutExercise.hbm.xml" />
        <mapping resource="database/entities/Workout.hbm.xml" />
        <mapping resource="database/entities/Exercise.hbm.xml" />
        <mapping resource="database/entities/Shadow.hbm.xml" />
        <mapping resource="database/entities/Meal.hbm.xml" />
        <mapping resource="database/entities/DietMeal.hbm.xml" />
    </session-factory>
</hibernate-configuration>
